@charset "utf-8";

.abc{
  background-color: #f6f6f6;
 height: 87vh;
padding-right: 20px;
} 

nav{
  height: 100px;
} 



.message {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}

.sender {
  font-weight: bold;
  color: blue;
}

.mssg {
  border-radius: 10px; 
}



