html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
}

.col-md-3 {
  background-color: #202020;
  height: 100vh;
}

.bot {
  background-color: #202020;
}

.col-md-9 {
  background-color: #282828;
  height: 100vh;
}

.title {
  margin-top: 17px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}

.logo {
  margin: 6px;
  margin-top: 15px;
  width: 30px;
  border-radius: 15px;
}

.name {
  margin-top: 4px;
  color : white;
}

.notif {
  color: white;
}

.card {
  color: white;
  background-color: #010e39;
}

// .bottom-fixed {
//   position:fixed;
//   bottom: 0;
//   width: 100vh;
// }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containers {
  height: 82vh;
  background-image: url('assets/Gojo.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.line {
  color: white;
}

.linez {
  color: white;
  margin-top: 2.5vh;
}

.fa-classic, .fa-regular, .fa-solid, .far, .fas { 
  color: white;
}